$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "silkscreen";
@import "beastie";

/* Put your CSS here */
html, body {
    margin: 0;
    background: #002505 url(../images/graphy.png) top left;
    height:100%;
    width:100%;
}

body {
    font-family: "Silkscreen", Helvetica, Arial, sans-serif;
    color: #333;
    .score {
        color:white;
    }
}

.ng-scope {
    height:100%;
    width:100%;
}

#game-container {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    height:100%;
    width:100%;
    color: #464646;
    text-shadow: 1px 1px 0 #807a77, 2px 2px 20px #000;
    div {
        height: 16px;
        white-space: nowrap;
    }
    .entityboard {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        .entity {
            position: absolute;
            width: 16px;
            height: 16px;
            transition: top 0.1s ease, left 0.1s ease;
            text-shadow: none;
        }
        .entity.block{
            text-shadow: 1px 1px 0 #807a77, 2px 2px 20px #000;
        }
        .entity.player {
            color: #00a0ff;
            -webkit-animation: blink 0.01s infinite ease alternate;
            text-shadow: 0 0 8px #00a0ff;
        }
        .entity.monster {
            color: #ff4823;
            -webkit-animation: blink 0.01s infinite ease alternate;
            text-shadow: 0 0 8px #ff4823;
        }
        .entity.mother {
            color: #ff7b00;
            -webkit-animation: blink 0.01s infinite ease alternate;
            text-shadow: 0 0 3px #ff7b00;
        }
        .entity.egg {
            color: #ffbf92;
            -webkit-animation: blink 0.01s infinite linear alternate;
        }
    }

    i {
        margin: 0;
        width: 16px;
        height: 16px;
        line-height: 16px;
        background: transparent;
    }
}

#scoreboard {
    position: fixed;
    display: block;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes blink {
    0% { opacity: 0.7 } 100% { opacity: 1 }
}