$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "silkscreen";
@import "beastie";

/* Put your CSS here */
html, body {
    margin: 0;
    background: #002505 url(../images/graphy.png) top left;
    height:100%;
    width:100%;
}

input, textarea, select, .form-control {
    font-family: "Silkscreen", Helvetica, Arial, sans-serif;
    border-radius: 0 !important;
    border: 1px solid #B1D6AC !important;
    color: #B1D6AC !important;
    background: #000 !important;
}

body {
    font-size: 16px;
    font-family: "Silkscreen", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .modal {
        border-radius: 0;
        background: #202025;
        color: #B1D6AC;
        border: 1px solid #B1D6AC;
        .modal-header {
            box-shadow: none;
            border: none;
            .close {
                margin-top: 2px;
                color: #B1D6AC;
                opacity: 1;
                text-shadow: none;
            }
        }
        .modal-footer {
            text-align: center;
            background: transparent;
            border: none;
            box-shadow: none;
        }
    }
    .modal-backdrop {
        background: #002015;
    }
    .highscore-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        font-size: 16px;
        line-height: 24px;
        margin: 0 10px;
        li {
            overflow: hidden;
            margin: 10px 0;
            width: 100%;
            span {
                display: table-cell;
            }
            .name {
            }
            .separator {
                width: 100%;
                vertical-align: text-bottom;
                &:after {
                    content: "";
                    border-top: 2px dotted #B1D6AC;
                    display: block;
                    margin: 0 10px;
                }
            }
            .score {
                text-align: right;
            }
        }
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#game-container {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    color: #464646;
    text-shadow: 1px 1px 0 #807a77, 2px 2px 20px #000;
    margin-top: 24px;
    div {
        height: 16px;
        white-space: nowrap;
    }
    .entityboard {
        position: relative;
        .entity {
            position: absolute;
            width: 16px;
            height: 16px;
            transition: top 0.1s ease, left 0.1s ease;
            text-shadow: none;
        }
        .entity.block{
            text-shadow: 1px 1px 0 #807a77, 2px 2px 20px #000;
        }
        .entity.player {
            color: #00a0ff;
            -webkit-animation: blink 0.01s infinite ease alternate;
            text-shadow: 0 0 8px #00a0ff;
        }
        .entity.monster {
            color: #ff4823;
            -webkit-animation: blink 0.01s infinite ease alternate;
            text-shadow: 0 0 8px #ff4823;
        }
        .entity.mother {
            color: #ff7b00;
            -webkit-animation: blink 0.01s infinite ease alternate;
            text-shadow: 0 0 3px #ff7b00;
        }
        .entity.egg {
            color: #ffbf92;
            -webkit-animation: blink 0.01s infinite linear alternate;
        }
    }

    i {
        margin: 0;
        width: 16px;
        height: 16px;
        line-height: 16px;
        background: transparent;
    }
}
#top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 24px;
    background: #000000;
    z-index: 1;
    line-height: 24px;
    padding: 0 8px;
    .score {
        float: left;
        color: #ffffff;
    }
}

@keyframes blink {
    0% { opacity: 0.7 } 100% { opacity: 1 }
}