<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <title>Beast Land</title>
        <meta content="" name="description">
        <meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" name="viewport">
        <meta content="yes" name="mobile-web-app-capable">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <link href="monster.png" rel="icon" sizes="192x192">
        <link href="monster-128.png" rel="icon" sizes="128x128">
        <link href="monster-128.png" rel="apple-touch-icon" sizes="128x128">
        <link href="monster-128.png" rel="apple-touch-icon-precomposed" sizes="128x128">

        <!-- build:css(.tmp) styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" integrity="sha256-UNvss+0AeuPIFODCIPnpoVPQL7r6PZRlxLIiBCl2qOw=" crossorigin="anonymous" />
        <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular.min.js" integrity="sha256-AhUDlGBYDjc319tLEU8iKutEXqgwQT0ZIzNhVAnsdpE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" integrity="sha256-8gURHwCqNqUeazEqdOWKvII5TyB+SK9NWWaAsqASXCo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js" integrity="sha256-wtnfrDHx0iOJYp1fQkoK7fWaUDAysStI8W7pCHTEPrc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha256-kJrlY+s09+QoWjpkOrXXwhxeaoDz9FW5SaxF8I0DibQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" integrity="sha256-uFWQRqeY+35goil12MwL4ZDGNwJlSnB01+PwsqxL1Ro=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js" integrity="sha256-FLKsgOWylewRFyV70wOL+30MzYy88d02cLpu1fH08Fg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.1/pixi.min.js" integrity="sha256-/PM5AbKZz5eLvsmW9mQHZZTGnH4M2Div+V4zfOtcmf8=" crossorigin="anonymous"></script>
        
        <!-- being:js -->
        <script src="/scripts/being/components/collision.js"></script>
        <script src="/scripts/being/components/die.js"></script>
        <script src="/scripts/being/components/event.js"></script>
        <script src="/scripts/being/components/move.js"></script>
        <script src="/scripts/being/components/state.js"></script>
        <script src="/scripts/being/renderers/canvas.js"></script>
        <script src="/scripts/being/renderers/dom.js"></script>
        <script src="/scripts/being/renderers/pixi.js"></script>
        <script src="/scripts/being/components/controllers/keyboard.js"></script>
        <script src="/scripts/being/components/controllers/touch.js"></script>
        <!-- endinject -->

        <!-- config:js -->
        <script src="/scripts/beast/config.js"></script>
        <!-- endinject -->

        <!-- beast:js -->
        <script src="/scripts/beast/beast.js"></script>
        <script src="/scripts/beast/components.js"></script>
        <script src="/scripts/beast/render_config.js"></script>
        <script src="/scripts/beast/actors/block.js"></script>
        <script src="/scripts/beast/actors/egg.js"></script>
        <script src="/scripts/beast/actors/floor.js"></script>
        <script src="/scripts/beast/actors/green-switch.js"></script>
        <script src="/scripts/beast/actors/monster.js"></script>
        <script src="/scripts/beast/actors/mother.js"></script>
        <script src="/scripts/beast/actors/player.js"></script>
        <script src="/scripts/beast/actors/red-switch.js"></script>
        <script src="/scripts/beast/entities/display.js"></script>
        <script src="/scripts/beast/entities/dummy-player.js"></script>
        <script src="/scripts/beast/entities/level.js"></script>
        <script src="/scripts/beast/shared/components.js"></script>
        <!-- endinject -->
    </head>
    <body ng-app="beastieApp">

        <!-- Add your site or application content here -->
        <div class="ui-container" ui-view></div>

        <script id="entities.html" type="text/ng-template">
            <div class="entity {{ entity.kind }}" ng-model="entity" ng-repeat="entity in entities" ng-style="{
                    'left': entity.position.x + 'em',
                    'top': entity.position.y + 'em',
                    'z-index' : entity.position.z
                }">
                <i class="{{ entity.classVal }}"></i>
            </div>
        </script>

        <!-- APP -->
        <script src="scripts/request-animation-frame.js"></script>

        <script src="scripts/app.js"></script>

        <script src="scripts/routes.js"></script>

        <!-- directives:js -->
        <script src="/scripts/directives/kill-example.js"></script>
        <script src="/scripts/directives/menu-options.js"></script>
        <script src="/scripts/directives/move-example.js"></script>
        <script src="/scripts/directives/pull-example.js"></script>
        <script src="/scripts/directives/trainer.js"></script>
        <!-- endinject -->

        <!-- controllers:js -->
        <script src="/scripts/controllers/game.js"></script>
        <script src="/scripts/controllers/highscore.js"></script>
        <script src="/scripts/controllers/instructions.js"></script>
        <script src="/scripts/controllers/menu.js"></script>
        <script src="/scripts/controllers/trainer.js"></script>
        <script src="/scripts/controllers/workshop.js"></script>
        <!-- endinject -->

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                },
                i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode
                    .insertBefore(a, m)
            })
            (window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-55017039-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
