<div class="help-container">
    <div class="media">
        <move-example class="entityboard dom-view example-box pull-left"></move-example>
        <div class="media-body">
            <h4 class="media-heading">Move Around</h4>
            Use the <kbd>W</kbd><kbd>A</kbd><kbd>S</kbd><kbd>D</kbd> or <kbd>&#9650;</kbd><kbd>&#9664;</kbd><kbd>&#9660;</kbd><kbd>&#9654;</kbd> keys to move around the world and push blocks.
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <kill-example class="entityboard dom-view example-box pull-left"></kill-example>
        </a>
        <div class="media-body">
            <h4 class="media-heading">Kill Beasts</h4>
            Kill beasts by crushing them between blocks.
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <pull-example class="entityboard dom-view example-box pull-left"></pull-example>
        </a>
        <div class="media-body">
            <h4 class="media-heading">Pull Blocks</h4>
            Hold the <kbd>SHIFT</kbd> key to pull blocks.
        </div>
    </div>
    <hr />
    <a href="#" class="btn btn-default">Back to Main Menu</a>
</div>
