<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    </head>
    <body ng-app="beastieApp">




        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div ng-controller="MainCtrl" >
            <div class="score">Score: {{score}} <a href="#" class="pull-right" ng-click="loop.pause()"><i ng-show="loop.running" class="fa fa-pause"></i><i ng-hide="loop.running" class="fa fa-play"></i></a></div>
            
            <div id="board" class="modal ng-cloak" ng-class="{fade:loop.running}">
              <div class="modal-dialog">
                <div ng-show="player.dead" class="modal-content">
                <form role="form" ng-submit="recordScore()">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">{{score}}</h4>
                    <h4 class="modal-title text-center">Enter Your Name</h4>
                    <input name="name" ng-model="name" type="text" class="modal-title form-control"/>
                  </div>
                  <div class="modal-body">
                    <ul class="list-group">
                        <li ng-repeat="player in scoreboard | toArray | orderBy:'score':true" ng-show="player.name" class="list-group-item">{{player.name}}: {{player.score}}</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Submit Score</button>
                  </div>
                </form>
                </div><!-- /.modal-content -->

                <!-- normal pause screen -->
                <div ng-hide="player.dead" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="loop.pause()" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center">{{score}}</h4>
                      </div>
                    <div class="modal-body">
                        <div>
                            <h2>Highscore</h2>
                            <ol class="highscore-list">
                                <li><span class="name">APB</span><span class="score">1,200</span></li>
                                <li><span class="name">APB</span><span class="score">1,200</span></li>
                                <li><span class="name">APB</span><span class="score">1,200</span></li>
                                <li><span class="name">APB</span><span class="score">1,200</span></li>
                                <li><span class="name">APB</span><span class="score">1,200</span></li>
                            </ol>
                        </div>
                        <button class="btn btn-link" ng-click="loop.pause()"><i ng-show="loop.running" class="fa fa-pause"></i><i ng-hide="loop.running" class="fa fa-play"></i></button>
                    </div>
                </div>

              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="game-container">
                <div class="entityboard" id="entityboard"></div>
            </div>
        </div>

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/hammerjs/hammer.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>

        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/entity.js"></script>
        <script src="scripts/beastie.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/beastieEnv.js"></script>
        <script src="scripts/services/beastieEnt.js"></script>
        <!-- endbuild -->
    </body>
</html>
