<div class="modal-container death-screen">
    <h1>Game Over</h1>
    <h4>Final Score: {{score}}</h4>
    <ol class="highscore-list">
      <li ng-repeat="date in highscores | toArray | orderBy:'score':true | limitTo:5" ng-class="{current_game: date.current}"><span class="name" ng-show="date.date">{{moment(date.date).format("YYYY-MM-DD")}}</span><span class="score">{{date.score}}</span></li>
    </ol>
    <div class="score-submit">
      <form ng-submit="submitHighscore(name)">
        <input ng-model="name" type="text" class="form-control" placeholder="My Name">
        <button class="btn btn-default" type="submit">Submit</button>
      </form>
    </div>
    <button ng-click="restartGame()" class="btn btn-default" type="button">Restart</button>
</div>
