<span style="color:white;">{{updateState}}</span>
<div id="game-container" class="main-menu">
    <div class="entityboard" ng-style="titleStyle">
        <div ng-model="entity" class="entity {{ entity.kind }}" ng-style="{
                    'left': entity.position.x + 'em',
                    'top': entity.position.y + 'em',
                    'z-index' : entity.position.z
                }" ng-repeat="entity in entities">
            <i class="{{ entity.classVal }}"></i>
        </div>
    </div>
    <ul class="menu-options">
      <li><a ui-sref="game">Survival Mode</a></li>
      <!-- <li><a href="#" disabled>Single Player (Comming Soon)</a></li>
      <li><a href="#" disabled>LAN-ish Multi-Player (Comming Soon)</a></li>
      <li><a href="#" disabled>MMO (Comming Soon)</a></li>
      <li><a href="#" disabled>Level Builder (Comming Soon)</a></li> -->
      <li><a ui-sref="help">Instructions</a></li>
      <!-- <li><a ui-sref="trainer">Trainer (Alpha)</a></li> -->
      <li><a ui-sref="highscore">High Score</a></li>
    </ul>
</div>
