<div class="modal-header">
    <h2>Paused</h2>
</div>
<div class="modal-body">
    <div>
        <h5>Highscore</h5>
        <ol class="highscore-list">
            <li><span class="name">APB</span><span class="score">1,200</span></li>
            <li><span class="name">APB</span><span class="score">1,200</span></li>
            <li><span class="name">APB</span><span class="score">1,200</span></li>
            <li><span class="name">APB</span><span class="score">1,200</span></li>
            <li><span class="name">APB</span><span class="score">1,200</span></li>
        </ol>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="ok()"><i class="fa fa-play"></i></button>
</div>